@use "../../assets/styles/main.scss" as *;


@font-face {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  src: local("./actor-v10-latin/actor-v10-latin-regular.woff") url("./actor-v10-latin/actor-v10-latin-regular.woff"),
    format("woff"); 
} 



.HeroText {
  width: 100%;
  padding: 2rem;
  p {
    position: relative;
    width: 85%;
    margin: 0 auto 4rem auto;
    text-align: center;
    line-height: 4.25rem;
    font-family: $fontMain;
    z-index: 1;
  }
}

@media (max-width: 325px) {
  .HeroText p {
    width: 100%;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
}
