$font-path: "../../assets/fonts/";

@font-face {
  font-family: "Euclid Flex";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}EuclidFlex-Regular-WebTrial.woff") format("woff");
}
@font-face {
  font-family: "Euclid Flex";
  font-style: medium;
  font-weight: 500;
  src: url("#{$font-path}EuclidFlex-Medium-WebTrial.woff") format("woff");
}

$main-font: "Euclid Flex";


// @font-face {
//   font-family: "Euclid Flex";
//   font-style: medium;
//   font-weight: 500;
//   src: local("../../fonts/EuclidFlex-Medium-WebTrial.woff"),
//     url("../../fonts/EuclidFlex-Medium-WebTrial.woff") format("woff");
// }

/* actor-regular - latin */
/* @font-face {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Actor/actor-v10-latin/actor-v10-latin-regular.woff")
    format("woff"); 
} */
