svg.Techblocks {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  path.Block:hover {
    fill: darken(#ababab, 15%);
    cursor: pointer;
  }
}
.Clicked {
  fill: #ffb68c;
  cursor: pointer;
}
