@use "../../../styles/main.scss" as var;

svg.TechBlocks__SVG {
  width: 100%;
  height: auto;
  padding: 0 var.$padding-main;
  path.Block:hover {
    fill: darken(#ababab, 15%);
    cursor: pointer;
  }
}
.Clicked {
  fill: #ffb68c;
  cursor: pointer;
}
p.TechName {
  padding: 2rem 0 0 calc(#{var.$padding-main} + 2px);
  font-size: 2.25rem;
  font-weight: 500;
  text-align: left;
  font-family: var.$main-font;
  text-decoration: underline solid var.$orange-light 3px;
}
