@use "../../styles/main.scss" as var;

.HeaderMain {
  position: relative;
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .LogoDis {
    width: 6rem;
    height: auto;
    z-index: 1;
  }

  .Fog {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
  }
}

@media (max-width: 350px) {
  .HeaderMain {
    padding: 1.75rem 1.75rem;
  }
}
