/* @font-face {
    font-family: "Euclid Flex";
    font-style: normal;
    font-weight: 400;
    src: local("Euclid Flex"), url("../../../src/assets/fonts/EuclidFlex-Regular-WebTrial.woff") format("woff"); 
  }

@font-face {
    font-family: "Euclid Flex";
    font-style: medium;
    font-weight: 500;
    src: local("Euclid Flex"), url("../../../src/assets/fonts/EuclidFlex-Regular-WebTrial.woff"
) format("woff"); 
  }


  $fontMain: "Euclid Flex"; */
/* oswald-regular - latin */

